@{
    ViewData["Title"] = "Instruments";
}

<h2>Instruments</h2>

<p>Pictures of instruments:</p>

<p>
    Acoustic Guitar
    <img src="@Url.Action("DisplayImage", "Home", new { imageName = "fire_guitar_28110.png" })" />
</p>

<p>
    Electric Drums
    <img src="@Url.Action("DisplayImage", "Home", new { imageName = "drums_icon_125540 (1).png" })" />
</p>

<p>
    Cello
    <img src="@Url.Action("DisplayImage", "Home", new { imageName = "cello_icon-icons.com_68663.png" })" />
</p>

<p>
    Trumpet
    <img src="@Url.Action("DisplayImage", "Home", new { imageName = "62811trumpet_109302.png" })" />
</p>
